* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

body {
  background-color:black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

header {
  background-color: #58788C;
  display: grid;
  padding: 10px 0;
  grid-template-columns:33% auto;
}

section {
  display: grid;
  /* The Image used */
  background-image: url(file:///Users/karla/Desktop/1-University-of-Birmingham/See-My-Work/assets/images/02-hero-bg.jpg);
  background-size: cover;
  background-position:center;
  margin-bottom: 35px;
}
main {
  display: grid;
  margin: 0px 10px;
  height: 1500px;
  width: fit-content;
  grid-template-columns: 33% auto;
  grid-template-rows: 25% 50% 25%;
  grid-template-areas:
  "title content"
  "title content"
  "title content"
  ;  
}
.navList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;

}
.hero {
  display: flex;
  height: 300px;
  width: fit-content;
  flex-direction: row;
}

.navigation-item {
  margin: 0 10px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#myHeader {
  display: flex;
  background-color:#F28322;
  font-size: 48px;
  justify-self: flex-end;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  color: #58788C;
}
#title 1 {
  grid-area:title;
}

#paragraph {
  grid-area: content;
}
a:-webkit-any-link {
  color:#9B95BF;
  cursor: pointer;
  text-decoration: underline;
}

h2{
  color: aquamarine;
}

p {
  color: azure;
}
