* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

body {
  background-color:black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

header {
  background-color: #58788C;
  display: grid;
  padding: 10px 0;
  grid-template-columns:33% auto;
}

section {
  display: grid;
  /* The Image used */
  background-image: url(file:///Users/karla/Desktop/1-University-of-Birmingham/See-My-Work/assets/images/02-hero-bg.jpg);
  background-size: cover;
  background-position:center;
  margin-bottom: 50px;
}
main {
  display: grid;
  margin: 0px 20px;
  height: 1500px;
  width: fit-content;
  column-gap: 40px;
  row-gap: 40px;
  grid-template-columns: 25% auto;
  grid-template-rows: 200px auto 100px;
  grid-template-areas:
  "title content"
  "title content"
  "title content"
  ;  
}
.navList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;

}
.hero {
  display: flex;
  height: 300px;
  width: fit-content;
  flex-direction: row;
}

.navigation-item {
  margin: 0 10px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.content {
  display: flex;
  align-items: center;
}

#myHeader {
  display: flex;
  background-color:#F28322;
  font-size: 48px;
  justify-self: flex-end;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  color: #58788C;
}

#AboutMe
 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-right: solid green 2px;
  padding-right: 15px;
}
#Work {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  border-right: solid green 2px;
  padding-top: 20px;
  padding-right: 15px;
}
#ContactMe {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-right: solid green 2px;
  padding-right: 15px;
}
#projectsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 700px 207px 207px;
  margin-bottom: 0px;
  grid-template-areas: 
    "Surf Surf"
    "LED Calculator"
    "Pastels Run"
  ;
}
a:-webkit-any-link {
  color:#9B95BF;
  cursor: pointer;
  text-decoration: underline;
}

h2{
  display: flex;
  color: aquamarine;
  font-size: 40px;
}

p {
  color: azure;
  
}
