* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

body {
  background-color: #212226;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 50px;
  padding: 30px;
  line-height: 1.2;
}

header {
  background-color: #6D8C87;
  display: grid;
  padding: 15px 0;
  grid-template-columns:43% auto;
}

section {
  display: grid;
  background-size: cover;
  background-position:center;
  margin-bottom: 50px;
}
main {
  display: grid;
  margin: 0px 20px;
  height: 1500px;
  width: fit-content;
  column-gap: 40px;
  row-gap: 40px;
  grid-template-columns: 25% auto;
  grid-template-rows: 200px auto 100px;
  grid-template-areas:
  "title content"
  "title projectsSection"
  "title footer"
  ;  
}
.navList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;

}
.hero {
  background-image: url(/Users/karla/Desktop/1-University-of-Birmingham/See-My-Work/assets/images/Screenshot-2023.jpg)
  display: flex;
  height: 300px;
  width: fit-content;
  flex-direction: row;
}

.navigation-item {
  margin: 0 10px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.content {
  display: flex;
  align-items: center;
}
.circular_image{
}
.projectsSection {
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  position: relative;
  align-content: end;
}
.heading {
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  margin-top: 70px;
  padding: 20px;
  color: #0A2126;
  font-size: 18px;
}
.footer {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  justify-content: space-evenly;
  align-items: center;
}

#myHeader {
  display: flex;
  background-color:#D7D0B4;
  font-family: Cambria;
  font-size: 48px;
  justify-self: flex-end;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  color: #090A0D;
}
#heroGrid {
  background-image: url(/Users/karla/Desktop/1-University-of-Birmingham/See-My-Work/assets/images/Screenshot-2023.jpg);
  background-size: cover;
}
#AboutMe
 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-right: solid #647356 2px;
  font-family: Segoe UI;
  padding-right: 15px;
}
#Work {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  border-right: solid #647356 2px;
  font-family: Segoe UI;
  padding-top: 20px;
  padding-right: 15px;
}
#ContactMe {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-right: solid #647356 2px;
  font-family: Segoe UI;
  padding-right: 15px;
}
#projectsGrid {
  margin: 10px;
  display: grid;
  grid-template-rows: 600px 186px 186px;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  margin-bottom: 0px;
  grid-template-areas: 
    "Surf Surf"
    "LED Calculator"
    "Pastels Run"
  ;
}
#Surf {
  grid-area: Surf;
  background-image: url(/Users/karla/Desktop/1-University-of-Birmingham/See-My-Work/assets/images/02-portfolio-4.jpg);
  border: 2px solid #944306;
  background-size: cover;
  cursor: pointer;

}
#LED {
  grid-area: LED;
  background-image: url(/Users/karla/Desktop/1-University-of-Birmingham/See-My-Work/assets/images/02-portfolio-1.jpg);
  border: 3px solid #944306;
  background-size: cover;
  cursor: pointer;
}
#Calculator {
  grid-area: Calculator;
  background-image: url(/Users/karla/Desktop/1-University-of-Birmingham/See-My-Work/assets/images/02-portfolio-2.jpg);
  border: 3px solid #944306;
  background-size: cover;
  cursor: pointer;
}
#Pastels {
  grid-area: Pastels;
  background-image: url(/Users/karla/Desktop/1-University-of-Birmingham/See-My-Work/assets/images/02-portfolio-3.jpg);
  border: 3px solid #944306;
  background-size: cover;
  cursor: pointer;
}
#Run {
  grid-area: Run;
  background-image: url(/Users/karla/Desktop/1-University-of-Birmingham/See-My-Work/assets/images/02-run-buddy.jpg);
  border: 3px solid #944306;
  background-size: cover;
  cursor: pointer;
}
#Bigheading {
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  margin-top: 500px;
  padding: 20px;
  color: #0A2126;
  font-family: Noto Sans;
  font-size: 18px;
  cursor: pointer;
}
a:-webkit-any-link {
  font-family: TrebuchetMS;
  font-size: 20px;
  color:#F2C1AE;
  cursor: pointer;
  text-decoration: underline;
}

h2{
  display: flex;
  color: #647356;
  font-size: 40px;
}

p {
  color: #A68263;
  font-family: Helvetica Neue;
  
}
@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .header {
    width: 100%;
  }
  }
  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    } 
}